
@media only screen and (max-width: 368px){
    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #083022;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }



    /* Main section of Main Page  */

    
    .container{
        margin-top: 10%;
    }

    .section1{
        /* height: 100vh; */
        padding: 0px 5%;
    }



    .fields{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
    }

    
    .processing-buttons{
        margin: 3% 4%; 
    }


    .processing-buttons a {
        display: inline-block;
        width: 200px; /* Fixed Height and Width */
        height: 50px; 
        text-align: center; 
    }


    /* Cards of All Categories */


    .cardHeadings{
        padding: 5%;
    }

    .bordercards{
        width: 10%; 
        border-top: 2px solid #372BAF;
        margin: 20px 0; 
    }



    .cardImage{
        height: 25vh;
        width: 100vw;
        
    }

    /* second column of card */

    .second-column-card{
        margin-top: 8%;
    }



    /* Third column of card */


    .third-column-card{
        height: 20vh;
        margin-left: 5%;
    }


    .custom-text {
        bottom: -4px;
    }
    
    
    .custom-heading {
        bottom: 2px;
    }


    /* Want to Contribute to the industry with us */

    
    .parallax{
        padding: 10%;
    }


    /* What our Customers say about us */


    .cardHeadings h2 {
        font-size: 2rem;
    }

    .cardHeadings h5 {
        font-size: 0.95rem;
    }

    .testimonial-section {
        padding: 50px 10px;
    }

    .testimonial-card {
        flex: 0 0 calc(100vw - 80px);
        padding: 35px 25px;
    }

    .testimonial-nav {
        width: 50px;
        height: 50px;
        font-size: 24px;
    }

    .testimonial-nav.prev {
        left: 10px;
    }

    .testimonial-nav.next {
        right: 10px;
    }

    .user-image-circle {
        width: 55px;
        height: 55px;
    }

    .testimonial-text {
        font-size: 1rem;
    }


    /* Our Work */

    .cardHeadings h2 {
        font-size: 1.5rem;
    }

    .bordercards {
        width: 60px;
        margin-bottom: 30px;
    }

    .carousel-container {
        padding: 0 35px;
    }

    .journal-item {
        flex: 0 0 100%;
        padding: 15px;
        min-height: 100px;
    }

    .journal-item img {
        max-height: 60px;
    }

    .journals {
        gap: 15px;
    }

    .journals-carousel {
        padding: 20px 10px;
    }

    .carousel-btn {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    .dot {
        width: 8px;
        height: 8px;
    }

    .dot.active {
        width: 24px;
    }

    .carousel-dots {
        gap: 8px;
        margin-top: 20px;
    }


}


@media only screen and (min-width: 368px) and (max-width: 768px){
    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #083022;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }



    /* Main section of Main Page  */

    
    .container{
        margin-top: 10%;
    }

    .section1{
        /* height: 70vh; */
        padding: 0px 5%;
    }



    .fields{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
    }

    
    .processing-buttons{
        margin: 3% 4%; 
    }


    .processing-buttons a {
        display: inline-block;
        width: 200px; /* Fixed Height and Width */
        height: 50px; 
        text-align: center; 
    }


    /* Cards of All Categories */


    .cardHeadings{
        padding: 5%;
    }

    .bordercards{
        width: 10%; 
        border-top: 2px solid #372BAF;
        margin: 20px 0; 
    }



    .cardImage{
        height: 25vh;
        width: 100vw;
    
    }

    /* second column of card */

    .second-column-card{
        margin-top: 8%;
    }



    /* Third column of card */


    .third-column-card{
        height: 22vh;
        margin-left: 5%;
    }



    /* Want to Contribute to the industry with us */


    .parallax{
        padding: 10%;
    }



    /* What our Professors say about us */


    .cardHeadings h2 {
        font-size: 2.5rem;
    }

    .testimonial-section {
        padding: 60px 15px;
    }

    .testimonial-card {
        flex: 0 0 calc(100vw - 100px);
        padding: 40px 30px;
    }

    .testimonial-nav {
        width: 55px;
        height: 55px;
        font-size: 26px;
    }

    .testimonial-nav.prev {
        left: 15px;
    }

    .testimonial-nav.next {
        right: 15px;
    }


    /* Our Work */
    
    .cardHeadings h2 {
        font-size: 1.8rem;
    }

    .bordercards {
        width: 70px;
        margin-bottom: 35px;
    }

    .carousel-container {
        padding: 0 45px;
    }

    .journal-item {
        flex: 0 0 calc(50% - 20px);
        padding: 18px;
    }

    .journal-item img {
        max-height: 70px;
    }

    .journals {
        gap: 25px;
    }

    .journals-carousel {
        padding: 30px 15px;
    }

    .carousel-btn {
        width: 42px;
        height: 42px;
        font-size: 20px;
    }

    
}



@media only screen and (min-width: 768px) and (max-width: 910px){
    .nav .navOpenBtn,
    .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 20px;
    }

    .nav .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        max-width: 280px;
        width: 100%;
        padding-top: 100px;
        row-gap: 30px;
        flex-direction: column;
        background-color: #083022;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.4s ease;
        z-index: 100;
    }


    .nav.openNav .nav-links {
        left: 0;
    }

    .nav .navOpenBtn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .nav .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }



    /* Main section of Main Page  */

    
    .container{
        margin-top: 10%;
    }

    .section1{
        height: 70vh;
        padding: 0px 5%;
    }



    .fields{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
    }

    
    .processing-buttons{
        margin: 3% 4%; 
    }


    .processing-buttons a {
        display: inline-block;
        width: 200px; /* Fixed Height and Width */
        height: 50px; 
        text-align: center; 
    }


    /* Cards of All Categories */

    .bordercards{
        width: 10%; 
        border-top: 2px solid #372BAF;
        margin: 20px 0; 
    }



    .cardImage{
        height: 35vh;
        width: 100vw;
    
    }

    /* second column of card */

    .second-column-card{
        margin-top: 8%;
        width: 40vw;
    }


    .data-accuracy{
        display: block;
    }



    /* Third column of card */


    .third-column-card{
        width: 40vw;
        margin-left: 50%;
        margin-top: 9%;
    }


    .custom-text {
        bottom: 7px;
    }
    
    .custom-heading {
        bottom: 15px;
    }


    /* What our Customers say About us */

    .cardHeadings h2 {
        font-size: 3rem;
    }

    .testimonial-section {
        padding: 70px 20px;
    }

    .testimonial-card {
        flex: 0 0 500px;
    }

    .testimonial-nav.prev {
        left: 20px;
    }

    .testimonial-nav.next {
        right: 20px;
    }

    /* Want to Contribute to the industry with us */

    .parallax{
        padding: 10%;
    }


    /* Our Work */

    .cardHeadings h2 {
        font-size: 2.2rem;
    }

    .carousel-container {
        padding: 0 50px;
    }

    .journal-item {
        flex: 0 0 calc(33.333% - 27px);
        padding: 20px;
    }

    .journal-item img {
        max-height: 75px;
    }

    .journals {
        gap: 30px;
    }

    .carousel-btn {
        width: 45px;
        height: 45px;
    }

    

    
}


@media only screen and (min-width: 910px) and (max-width: 1050px){
    .nav {
        padding: 15px 50px;
    }



    /* Main section of Main Page  */

    .container{
        margin-top: 10%;
    }

    .section1{
        height: 70vh;
        padding: 0px 5%;
    }

    .fields{
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
    }



    /* Cards of All Categories */

    .bordercards{
        width: 10%; 
        border-top: 2px solid #372BAF;
        margin: 20px 0; 
    }



    .cardImage{
        height: 35vh;
        width: 100vw;
    
    }

    /* second column of card */

    .second-column-card{
        margin-top: 8%;
        width: 40vw;
    }


    .data-accuracy{
        display: block;
    }



    /* Third column of card */

    .third-column-card{
        width: 40vw;
        margin-left: 50%;
        margin-top: 9%;
    }



    .custom-text {
        bottom: 7px;
    }
   
    
    .custom-heading {
        bottom: 15px;
    }


    
    /* Want to Contribute to the industry with us */
    

    .parallax{
        padding: 10%;
    }


    /* What our customers say about us */


    .testimonial-card {
        flex: 0 0 480px;
    }

    .testimonial-nav.prev {
        left: 25px;
    }

    .testimonial-nav.next {
        right: 25px;
    }


    
    /* Our Work */

    .cardHeadings h2 {
        font-size: 2.3rem;
    }

    .carousel-container {
        padding: 0 55px;
    }

    .journal-item {
        flex: 0 0 calc(25% - 30px);
    }

    .journals {
        gap: 35px;
    }



}


@media only screen and (min-width: 1050px) and (max-width: 1200px){
    .nav {
        padding: 15px 100px;
    }


    /* Cards of All Categories */

    /* Third column of card */

      
    .custom-text {
        bottom: 17px;
    }

    .content-wrapper {
        max-width: 1100px;
    }

    .carousel-container {
        max-width: 950px;
    }

    /* What our Customers say about us */

    .testimonial-carousel-container {
        max-width: 1300px;
    }
}

